<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/styleLog.css">
</head>
<body>
    <div class="box1">
        <img src="/images/about/a6.jpg" alt="">
        <div class="singup-page">
            <div class="wrapper">
        <h1>Login</h1>
        <form action="/login" method="post">
            <input type="text" placeholder="Username" name="name">
            <input type="password" placeholder="Password" name="password">
            <div class="recover">
                <a href="#">Forgot password</a>
            </div>
        <button>Log in</button>
        <div class="member"></div> Not  a member?
        <a href="/signup">
            Register Now
        </a>
    </div>
        </div>
    </div>
    </div>
</body>
</html>